.form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px
}

.password {
    padding:10px;

}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

}
.Button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
