h1 {
    display: flex;
}

.spotdetails {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 70%;
    max-width: 100%;
}

@media (max-width: 1200px) {
    .spotdetails {
        width: 100%;
    }
}



.name {
    display: flex;
    width: 100%;
    font-family: 'Lato', sans-serif;

}

#detailsImage {

    object-fit: cover;
    min-width: 100%;
    height: 600px;
    border-radius: 25px;
}

.ratingline {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    grid-template-columns: 60px 800px 100px 100px;
    grid-template-areas:
    "stars address edit delete";
    width: 100%;
    align-items: center;
    gap: 0px;
}

.avgRatinginDetails {
    font-family: 'Lato', sans-serif;
}

.avgRatinginDetails::before {
    content:"\2605";
    font-size: 20px;
    right: 25px;
    bottom: -3px;

}
.address {
    grid-area: address;
    grid-column: 2;
    max-width: 850px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-decoration: underline;
}



#editButtoninDetails {
    grid-area: edit;
    background-color: white;
    box-sizing: border-box;
    border: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 16px;

}

#editButtoninDetails:hover {
    text-decoration: underline;
}
.deletebuttoninDetails {
    grid-area: delete;
    background-color: white;
    box-sizing: border-box;
    border: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 16px;

}

.deletebuttoninDetails:hover {
    text-decoration: underline;
}

.description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    font-family: 'Lato', sans-serif;
    background-color: transparent;

}

.priceinDetails {

    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: bold;
    max-width: 100%;
    padding: 10px;
}

.reviewscontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.reviews {
    display: flex;
    justify-content: flex-start;
    padding: 10px;

}

.addareview {
    border: 2px solid gray;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding:8px;
    background-color: white;
}
.addareview:hover {
    box-shadow: 1px 3px 15px 2px rgba(0,0,0,0.25);
}

.textarea {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    width: 300px;
    height: 100px;
    max-height: 100px;
    resize: none;
    font-family: 'Lato', sans-serif;
    margin: 5px;

}

.stars {
    grid-area: stars;
    border: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;

}

.submitButton {
    font-family: 'Lato', sans-serif;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}

.cancelButton {
    font-family: 'Lato', sans-serif;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}

.errors {
    display: flex;
    color: red;
}

.reviewsList {
    display: grid;
    height: 175px;
    /* height: fit-content; */

    max-width: 350px;
    border: 1px solid black;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
    padding-inline-start: 18px;
}

.reviewDataReview {
    /* border: 1px solid black; */
    word-wrap: break-word;
    overflow-y: auto;
    min-width: 150px;
    min-height: 25px;
    max-height: 75px;
    padding: 10px;
    padding-bottom: 15px;


}
.reviewdivider {
    border-top: 1px solid rgb(219, 216, 216);
    margin-bottom: 1px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

.reviewDataName {
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    padding: 10px;
}

@import url('https://css.gg/trash.css');
.deleteButtonInReviews {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    width: 98%;
    border: transparent;
    background-color: white;
}

.deleteButtonInReviews:hover {
    text-decoration: underline;
}

.reviewDataStars::before {
    content:"\2605";
    font-size: 18px;

}
